.box{
    width:20%;
    height: 2000px;
    background:rgb(238, 227, 227);
    margin: 0px auto;
    margin-left:0px;
    border: 0px solid rgb(10, 10, 10);
    
  }
.box1 {
    width:55%;
    height: 10000px;
    background:rgb(255, 254, 254);
    margin: 0px auto;
    margin-left:-15%;
    border: 0px solid rgb(10, 10, 10);
  }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(6, 202, 143);
  margin-top: 20px;
}
table {
  margin: 5%;
  border-collapse: collapse;
  width: 80%;
}
